* {
  margin: 0;
  padding: 0;
}
.products-content {
  text-align: center;
  margin-top: 50px;
}
.para {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  height: 50px;
  margin-bottom: 50px;
  margin-top: 10px;
}
.para p {
  word-wrap: break-word;
  width: 40%;
}
.products {
  height: 800px;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.product1 {
  /* background-color: aquamarine; */
  height: 300px;
  width: 16%;
  margin: 20px;
  border: 2px solid rgb(54, 192, 54);
  border-radius: 30px;
  /* float: right; */
}
.product1:hover{
  background-color: rgb(113,192,3);
  transform: scale(1.1);
  transition: transform 0.8s ease;
}
.product1 p {
  float: right;
  display: flex;
  gap: 8px;
  margin-right: 20px;
  margin-top: 10px;
}
.product1 img{
  height: px;
  width: 80%;
  margin: 0px 10px 0 10px;
   
}
.product1 img:hover{
  transform: scale(1.1);
  transition: transform 0.8s ease;
}
.price
{
float: left;
margin: 5px 0px 0px 10px;
}
 